# env files
.env
.env.*
backend/.env
frontend/.env.local
# backups
frontend_backup/
frontend_backup**/
# Python venv (Windows/Linux/macOS)
.venv/
venv/
*/.venv/
*/venv/
*/Scripts/

# Python cache
__pycache__/
*.pyc
